.btn{
    color: rgb(255, 255, 255);
    padding-left: 4px;
    padding-top: 5px;
    background-color: green;
    margin-top: 5px;
    margin-left: 5px;
}
.imgg{
    margin:auto;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    display: inline-block;
    align-content: space-evenly;
}